// $baseBody:;
// $calcTop:;
// $calcTopFrame:;
// $calcDisplay
// $calcBot:;
// $calcBotFrame:;
// $calcKeypad:;
// $calcBtnNum:;
// $calcBtnOp:;
// $calcBtnRed:;

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

html,
body {
	width: auto;
	margin: 0;
}

.calc {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(
		120deg,
		rgb(228, 198, 98),
		rgb(233, 194, 89)
	);
	&__main {
		height: 800px;
		width: 400px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #3c4349;
		border-radius: 12px 12px 12px 12px;
		box-shadow: 0px 0px 25px 1px #0000005d;
		box-shadow: 0px 0px 25px 3px #0000006e;
	}

	&__top {
		height: 40%;
		width: 100%;
		border: 1px solid #1b1b1b59;
		border-radius: 12px 12px 0px 0px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #3c4349;

		&-frame {
			height: 90%;
			width: 95%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			background-color: #0a0e0f;
			border: 1px solid #0a0a0a;
			border-radius: 12px 12px 9px 9px;
			padding: 0 5px 8px 5px;

			&-decoration {
				height: 30%;
				// background-color: #0f1b41;
				// border: 1px solid black;
				display: flex;
				justify-content: space-between;

				&--heading {
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					text-transform: uppercase;
					line-height: 1.5;
					color: #879196;
					font-size: 0.8rem;
					// background-color: #757575;
					margin: 20px 0 0 20px;
				}

				&--solar {
					width: 40%;
					height: 60%;
					display: flex;
					background-color: #161a1a;
					margin: 20px 20px 0 0;

					.panel {
						height: 100%;
						width: 100%;
						background-color: #131714;
						margin: 1px;
					}
				}
			}
		}

		&-display {
			height: 60%;
			width: 100%;
			background-color: #31383a;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border-radius: 15px 15px 9px 9px;
			padding: 0 2px;

			&--history {
				height: 25%;
				width: 95%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				background-color: #4f6865;
				font-size: 1rem;
				word-wrap: break-word;
				border-radius: 5px 5px 0 0;
				box-shadow: inset 3px 4px 3px 1px #00000038;
				padding-right: 10px;
			}

			&--result {
				height: 60%;
				width: 95%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				background-color: #4f6865;
				font-size: 2.5rem;
				word-wrap: break-word;
				border-radius: 0 0 5px 5px;
				box-shadow: inset 3px -4px 3px 1px #00000038;
				padding-right: 10px;
			}
		}
	}

	&__bot {
		height: 60%;
		width: 100%;
		border-radius: 0 0 10px 10px;
		// border: 1px solid black;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #373d42;

		&-frame {
			height: 95%;
			width: 95%;
			background-color: #2a3033;
			border-radius: 10px;
			// border: 1px solid black;
		}

		&-keypad {
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
	}
}

.keypad {
	&__row {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 8px 10px 8px;

		.calc-key {
			border: none;
			box-shadow: -1px -1px 1px 1px #ffffff75;
			border-radius: 6px;
			outline: none;
			font-size: 2rem;
			height: 100%;
			width: 100%;
			margin: 5px;
			color: white;
			background: #6d7980;
			transition: all ease-in 0.09s;

			&:hover {
				background: lighten(#6d7980, 5%);
			}
		}

		[data-all-clear],
		[data-delete] {
			background: #aa2e4b;
			box-shadow: -1px -1px 1px 1px #e96060b0;

			&:hover {
				background: lighten(#aa2e4b, 5%);
			}
		}
	}
}
